

  /* Estilo para el toggle de visibilidad de contraseña */
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
    transition: color 0.3s ease;
  }
  
  .password-toggle:hover {
    color: #333;
  }
  